@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;

$primary: #db2d2e;
$secondary: #222222;
$cta: lighten($secondary, 0.5);