.benefits {
  padding: 30px 0;
  background-color: $primary;
  text-align: center;
  //border-top: 4px solid $gray-800;
  //border-bottom: 4px solid $gray-600;

  .container {

    .benefits-item {

      .benefits-item-icon {
        height: 115px;
        width: 115px;
        margin: auto;
        border-radius: 50%;
        background-color: white;
        border: 4px solid $secondary;
      
        display: flex;
        align-items: center;
        justify-content: center;
       
      }

      .benefits-item-title {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: white;
      }
    }
  }
}

@media (max-width: 767px) {
  .benefits {
    padding: 40px 0;
    .container {
      .benefits-item {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;

        .benefits-item-icon {
          height: 130px;
          width: 130px;
        }
        .benefits-item-title {
          font-size: 1.7rem;
        }
      }
    }
  }
}
