.cta {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $secondary;
    color: white;
    text-align: center;
  
    h3 {
      font-size: 1.6em;
      margin-bottom: 2rem;
    }

    .btn {
      text-transform: uppercase;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 767px) {

        h3 {
            font-size: 1.4em;
        }

    }
  }
  